<script>
$(document).ready(function() {
    $('#teams').dataTable();
} );  
</script>
<h3>Teams</h3>
<hr />
<table class="table" id="teams">
  <thead>
    <tr>
      <th>Name</th>
      <th>Twitter handle</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.twitter_handle %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />


